*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

nav{
    background-color: #ebebeb;
    position: fixed;
    z-index: 1;
    width: 100%;
}


h2, h3, h4{
    font-family: 'Josefin Sans', sans-serif;
}

body h1{
    font-family: 'Amatic SC', cursive;

}


 body, ul{
    margin: 0;
    padding: 0; 
 } 

ul,li{
    font-family: 'Josefin Sans', sans-serif;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul{
    margin: 0 auto;
    text-align: center;
    padding: 30px;

}

nav li a{
    text-decoration: none;
    color: black;
}



figure img{
    /* border-radius: 150px; */
    width: 300px;
    }

    img.center {
        display: block;
        margin: 0px auto;
        padding-top: 80px;
    }

header{
    top: 70px;
    position: relative;
    margin-bottom: 180px;
    background-color: #ebebeb;
}



.name {
    text-align: center;
}

.name h1{
    font-size: 130px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.name h2{
    font-size: 30px;
    letter-spacing: 30px;
    padding-bottom: 80px;
}

.icons{
    
 text-align: center;
 background-repeat: no-repeat;

}

.icon1{
    width: 80px;
    height: 80px;
}

.about h1{
    text-align: center;
    font-size: 130px;
    margin-bottom: 20px;
}

.about h3{
    font-size: 30px;
    line-height: 2;
}

.about h4{
    text-align: center;
    font-size: 20px;
    line-height: 2;
    padding: 70px;
    font-weight: normal;
}

.about{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ebebeb;
    border-radius: 50% 40% 31% 70% / 36% 60% 41% 64% ;
}

.skills h1{
    text-align: center;
    font-size: 130px;
    margin-bottom: 20px; 
}

.skills h4{
    text-align: center;
    font-size: 20px;
    line-height: 2;
    padding: 70px;
    font-weight: normal;
}

.skills ul li{
    text-align:center;
    
    font-size: 30px;
    line-height: 2;

}

.portfolio{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.portfolio h1{
    text-align: center;
    font-size: 130px;
    margin-bottom: 20px; 
}

.portfolio h3{
    text-align: center;
    font-size: 30px;
    line-height: 2;
}
.contact{
    margin-top: 70px;
    padding-top: 70px;
    padding-bottom: 20px;
    
}

.contact h1{
    text-align: center;
    font-size: 130px;
    margin-bottom: 20px; 
}

.contact h3{
    text-align: center;
    font-size: 30px ;
    line-height: 2;
}

.contact h4{
    text-align: center;
    font-size: 15px;

}



.right-alignment{
    text-align: right;

}




